<nav th:fragment="navbar">
    <ul>
        <li th:if="${#authorization.expression('isAuthenticated()')}">
            Hola, <span th:text="${username.nombreUsuario}">Usuario</span>!
        </li>
        <li th:if="${#authorization.expression('isAuthenticated()')}">
            <a href="/auth/logout">Cerrar sesión</a>
        </li>

        <li th:unless="${#authorization.expression('isAuthenticated()')}">
            <a href="/auth/login">Iniciar sesión</a>
        </li>
        <li th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/usuarios/registro}">Registrarse</a>
        </li>
    </ul>
</nav>